.notification-badge {
  font-size: 10px;

  background-color: var(--bg-badge);
  color: var(--tc-badge);

  &--alert {
    background-color: var(--bg-positive);
  }
}

.notification-badge.sidebar-mode {
  margin-top: 8px;
  padding: 3px 5px;
  margin-left: -4px;
}
