@use '../../partials/screen';

:root {
  --font-primary: 'Atkinson Hyperlegible', sans-serif;
  --font-secondary: 'Atkinson Hyperlegible', sans-serif;

  --selection-color: #fff;
  --selection-background: rgb(19, 160, 196);

  --bg-electron-border: #a1a1a1;

  --bg-auth-normal: rgb(196, 196, 196);
  --bg-auth-gradient: linear-gradient(
    0deg,
    rgb(56, 92, 128) 0%,
    rgb(89, 203, 218) 35%,
    rgb(255, 255, 255) 100%
  );

  /* background color | --bg-[background type]: value */

  --bg-loadingoverlay: rgba(255, 255, 255, 0.8);
  --bg-loadingoverlay-circle: rgb(32, 32, 32);
  --bg-loadingoverlay-text: rgb(32, 32, 32);

  --bg-input: #fff;

  --bg-surface: #ffffff;
  --bg-surface-semi-transparent: rgba(255, 255, 255, 0.9);

  --bg-surface-gradient: linear-gradient(
    180deg,
    rgba(246, 246, 246, 1) 0%,
    rgb(246, 246, 246) 40%,
    rgb(233, 233, 233) 100%
  );

  --bg-surface-gradient-2: linear-gradient(
    180deg,
    rgba(236, 236, 236, 1) 0%,
    rgb(236, 236, 236) 20%,
    rgb(255, 255, 255) 100%
  );

  --bg-surface-gradient-3: linear-gradient(180deg, rgb(223, 223, 223) 0%, rgb(255, 255, 255) 100%);

  --default-embed-color: #505050;

  --bg-surface-transparent: #ffffff00;
  --bg-surface-low: #f6f6f6;
  --bg-surface-low-semi-transparent: rgba(246, 246, 246, 0.9);
  --bg-surface-low-transparent: #f6f6f600;
  --bg-surface-extra-low: #f6f6f6;
  --bg-surface-extra-low-transparent: #f6f6f600;
  --bg-surface-hover: rgba(0, 0, 0, 3%);
  --bg-surface-active: rgba(0, 0, 0, 5%);
  --bg-surface-border: rgba(0, 0, 0, 6%);

  --bg-reaction: rgb(245 245 245 / 70%);
  --bg-reaction-hover: rgb(213 213 213 / 80%);
  --bg-reaction-active: rgb(173 173 173 / 70%);
  --bg-reaction-border: rgba(57, 61, 78, 38%);

  --bg-primary: rgb(83, 110, 234);
  --bg-primary-hover: rgba(83, 110, 234, 80%);
  --bg-primary-active: rgba(83, 110, 234, 70%);
  --bg-primary-border: rgba(83, 110, 234, 38%);

  --bg-positive: rgb(69, 184, 59);
  --bg-positive-hover: rgba(69, 184, 59, 8%);
  --bg-positive-active: rgba(69, 184, 59, 15%);
  --bg-positive-border: rgba(69, 184, 59, 40%);

  --bg-caution: rgb(255, 179, 0);
  --bg-caution-hover: rgba(255, 179, 0, 8%);
  --bg-caution-active: rgba(255, 179, 0, 15%);
  --bg-caution-border: rgba(255, 179, 0, 40%);

  --bg-danger: rgb(240, 71, 71);
  --bg-danger-hover: rgba(240, 71, 71, 5%);
  --bg-danger-active: rgba(240, 71, 71, 10%);
  --bg-danger-border: rgba(240, 71, 71, 20%);

  --bg-tooltip: #353535;
  --bg-badge: #989898;
  --bg-ping: hsla(137deg, 100%, 68%, 40%);
  --bg-ping-hover: hsla(137deg, 100%, 68%, 50%);
  --bg-divider: hsla(0, 0%, 0%, 0.1);

  --invert-filter: invert(0);

  /* text color | --tc-[background type]-[priority]: value */
  --tc-surface-high: #000000;
  --tc-surface-normal: rgba(0, 0, 0, 78%);
  --tc-surface-normal-low: rgba(0, 0, 0, 60%);
  --tc-surface-low: rgba(0, 0, 0, 48%);

  --tc-surface-high-reverse: rgba(255, 255, 255, 98%);
  --tc-surface-normal-reverse: rgba(255, 255, 255, 94%);
  --tc-surface-normal-low-reverse: rgba(255, 255, 255, 60%);
  --tc-surface-low-reverse: rgba(255, 255, 255, 58%);

  --tc-primary-high: #ffffff;
  --tc-primary-normal: rgba(255, 255, 255, 68%);
  --tc-primary-low: rgba(255, 255, 255, 40%);

  --tc-positive-high: var(--bg-positive);
  --tc-positive-normal: rgb(69, 184, 59, 80%);
  --tc-positive-low: rgb(69, 184, 59, 60%);

  --tc-caution-high: var(--bg-caution);
  --tc-caution-normal: rgb(255, 179, 0, 80%);
  --tc-caution-low: rgb(255, 179, 0, 60%);

  --tc-danger-high: var(--bg-danger);
  --tc-danger-normal: rgba(240, 71, 71, 88%);
  --tc-danger-low: rgba(240, 71, 71, 60%);

  --tc-code: #e62498;
  --tc-link: hsl(213deg 76% 56%);
  --tc-tooltip: white;
  --tc-badge: white;

  --divider-box-click: #fff;

  /* system icons | --ic-[background type]-[priority]: value */
  --ic-surface-high: #272727;
  --ic-surface-normal: #626262;
  --ic-surface-low: #7c7c7c;
  --ic-primary-high: #ffffff;
  --ic-primary-normal: #ffffff;
  --ic-positive-high: rgba(69, 184, 59);
  --ic-positive-normal: rgba(69, 184, 59, 80%);
  --ic-caution-high: rgba(255, 179, 0);
  --ic-caution-normal: rgba(255, 179, 0, 80%);
  --ic-danger-high: rgba(240, 71, 71);
  --ic-danger-normal: rgba(240, 71, 71, 0.7);

  /* user mxid colors */
  --mx-uc-1: hsl(208, 66%, 53%);
  --mx-uc-2: hsl(302, 49%, 45%);
  --mx-uc-3: hsl(163, 97%, 36%);
  --mx-uc-4: hsl(343, 75%, 61%);
  --mx-uc-5: hsl(24, 100%, 59%);
  --mx-uc-6: hsl(181, 63%, 47%);
  --mx-uc-7: hsl(242, 89%, 65%);
  --mx-uc-8: hsl(94, 65%, 50%);

  /* sound bar */
  --sound-bar-0: rgba(186, 136, 0, 1);
  --sound-bar-50: rgba(4, 107, 23, 1);
  --sound-bar-100: rgba(163, 0, 0, 1);
  --sound-bar-base: #c3c3c3;

  /* btn buttons */
  --btn-normal: #ffffff;
  --btn-dark: rgba(0, 0, 0, 78%);

  /* system icon size | -ic-[size]: value */
  --ic-large: 38px;
  --ic-normal: 24px;
  --ic-small: 20px;
  --ic-extra-small: 18px;

  --ic-fa-large: 32px;
  --ic-fa-normal: 18px;
  --ic-fa-small: 14px;
  --ic-fa-extra-small: 12px;

  /* shadow and overlay */
  --bg-overlay: rgba(0, 0, 0, 20%);
  --bg-overlay-low: rgba(0, 0, 0, 50%);

  --bs-popup: 0 0 16px rgba(0, 0, 0, 10%);

  --bs-surface-border: inset 0 0 0 1px var(--bg-surface-border);
  --bs-surface-outline: 0 0 0 2px var(--bg-surface-border);

  --bs-primary-border: inset 0 0 0 1px var(--bg-primary-border);
  --bs-primary-outline: 0 0 0 2px var(--bg-primary-border);

  --bs-positive-border: inset 0 0 0 1px var(--bg-positive-border);
  --bs-positive-outline: 0 0 0 2px var(--bg-positive-border);

  --bs-caution-border: inset 0 0 0 1px var(--bg-caution-border);
  --bs-caution-outline: 0 0 0 2px var(--bg-caution-border);

  --bs-danger-border: inset 0 0 0 1px var(--bg-danger-border);
  --bs-danger-outline: 0 0 0 2px var(--bg-danger-border);

  /* border */
  --bo-radius: 8px;

  /* font styles: font-size, letter-spacing, line-hight */
  --fs-h1: 36px;
  --ls-h1: -1.5px;
  --lh-h1: 38px;
  --lh-emoji-h1: 50px;

  --fs-h2: 24px;
  --ls-h2: -0.5px;
  --lh-h2: 30px;
  --lh-emoji-h2: 30px;

  --fs-s1: 18px;
  --ls-s1: -0.2px;
  --lh-s1: 24px;
  --lh--emojis1: 24px;

  --fs-b1: 16px;
  --ls-b1: 0.1px;
  --lh-b1: 24px;
  --lh-emoji-b1: 24px;

  --fs-b2: 14px;
  --ls-b2: 0.2px;
  --lh-b2: 20px;
  --lh--emojib2: 20px;

  --fs-b3: 12px;
  --ls-b3: 0px;
  --lh-b3: 16px;
  --lh-emoji-b3: 16px;

  /* font-weight */
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* spacing | --sp-[space]: value */
  --sp-none: 0px;
  --sp-ultra-tight: 4px;
  --sp-extra-tight: 8px;
  --sp-tight: 12px;
  --sp-normal: 16px;
  --sp-loose: 20px;
  --sp-extra-loose: 32px;

  /* other */
  --border-width: 1px;
  --header-height: 54px;
  --navigation-sidebar-width: calc(64px + var(--border-width));
  --navigation-drawer-width: calc(280px + var(--border-width));
  --navigation-width: calc(var(--navigation-sidebar-width) + var(--navigation-drawer-width));
  --people-drawer-width: calc(268px - var(--border-width));

  --popup-window-drawer-width: 280px;

  @include screen.smallerThan(tabletBreakpoint) {
    --navigation-drawer-width: calc(240px + var(--border-width));
    --people-drawer-width: calc(256px - var(--border-width));
    --popup-window-drawer-width: 240px;
  }

  /* transition curves */
  & {
    --fluid-push: cubic-bezier(0, 0.8, 0.67, 0.97);
    --fluid-slide-down: cubic-bezier(0.02, 0.82, 0.4, 0.96);
    --fluid-slide-up: cubic-bezier(0.13, 0.56, 0.25, 0.99);

    --bg-profile-banner: #f3f3f3;

    /* Grow Animation */
    --avatar-grow-animation-1: #949494;
    --avatar-grow-animation-2: #cecece;

    /* Electron Window */
    --electron-window-focus: var(--bg-surface-low);
    --electron-window-blur: var(--bg-surface-low);
    --electron-window-text-focus: var(--tc-surface-normal);
    --electron-window-text-blur: rgba(80, 80, 80, 0.78);
  }
}

.btn-theme {
  --bs-btn-color: #000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.btn-outline-theme {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none;
}

.btn-theme-bg {
  --bs-btn-color: #000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: transparent;
}

.btn-outline-theme-bg {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
  --bs-gradient: none;
}

.btn-theme-reverse {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #373b3e;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

.btn-outline-theme-reverse {
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
  --bs-gradient: none;
}

.btn-theme-bg-reverse {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

.btn-outline-theme-bg-reverse {
  --bs-btn-color: #6c757d;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
  --bs-gradient: none;
}

.default-theme {
  #settings-base #setting-tab .nav-link:hover {
    background-color: #eee !important;
  }
}

.butter-theme-no-gradient,
.dark-theme-no-gradient,
.silver-theme-no-gradient,
.white-theme-no-gradient {
  --bg-surface-gradient: none !important;
  --bg-surface-gradient-2: none !important;
  --bg-surface-gradient-3: none !important;
  --bg-auth-gradient: none !important;
}

body.discord-style {
  font-family: 'gg sans Normal Regular';

  #chatbox {
    .username-base {
      font-family: 'gg sans SemiBold Regular';
    }

    .message .chat-base time {
      font-size: 9pt;
      display: inline-block;
      margin-top: -2px;
      position: relative;
      top: 2px;
    }
  }

  #space-header {
    .category-button,
    .no-category-button {
      font-family: 'gg sans SemiBold Regular';
    }
  }

  small,
  .small {
    font-size: 11pt;
  }

  .very-small {
    font-size: 9pt;
  }

  .badge:not(.notification-badge) {
    font-size: 0.8em;
  }

  strong,
  b {
    font-family: 'gg sans SemiBold Regular';
    font-weight: normal;
  }
}
