@use '../../partials/flex';
@use '../../partials/dir';
@use '../../partials/screen';

.settings-window {
  & .pw {
    background-color: var(--bg-surface-low);
  }

  .header .btn-danger {
    margin: 0 var(--sp-tight);
    box-shadow: none;
  }

  & .profile-editor {
    padding: var(--sp-loose) var(--sp-extra-loose);
  }

  & .tabs__content {
    padding: 0 var(--sp-normal);
    center {
      display: flex;
      width: 100%;
      overflow-x: scroll;
    }
    center::-webkit-scrollbar {
      width: 0px; /* width of the entire scrollbar */
    }
  }

  &__cards-wrapper {
    padding: 0 var(--sp-normal);
    @include dir.side(padding, var(--sp-normal), var(--sp-extra-tight));
  }
}

.settings-window__cards-wrapper {
  & .setting-tile {
    margin: 0 var(--sp-normal);
    margin-top: var(--sp-normal);
    padding-bottom: 16px;
    border-bottom: 1px solid var(--bg-surface-border);
    &:last-child {
      border-bottom: none;
    }
  }
}

.settings-notifications {
  &__not-supported {
    padding: 0 var(--sp-ultra-tight);
  }
}
