/* Presence */
.user-presence-offline,
.user-presence-unavailable,
.user-presence-offline:before,
.user-presence-unavailable:before {
  color: #bdbdbd !important;
}

.user-presence-dnd,
.user-presence-dnd:before {
  color: #b83b3b !important;
}

.user-presence-online,
.user-presence-online:before {
  color: #45b83b !important;
}

.user-presence-idle,
.user-presence-idle:before {
  color: #b8913b !important;
}

.user-status-icon {
  z-index: 1;
  text-shadow:
    2px 0 var(--bg-surface-low),
    -2px 0 var(--bg-surface-low),
    0 2px var(--bg-surface-low),
    0 -2px var(--bg-surface-low),
    1px 1px var(--bg-surface-low),
    -1px -1px var(--bg-surface-low),
    1px -1px var(--bg-surface-low),
    -1px 1px var(--bg-surface-low);
  &::before {
    background-color: var(--bg-surface-low);
    border-radius: 100%;
    padding: 2px;
    right: 3px;
    top: -7px !important;
  }
  &.user-presence-idle::before {
    padding: 1px 3px;
    right: 2px;
  }
}

/* Others */
.profile-icon-fa {
  font-size: 16px !important;
  color: var(--ic-surface-low) !important;
}

button,
textarea {
  background-color: transparent;
  border: none;
}
button {
  max-width: 100%;
  text-align: inherit;
}

audio:not([controls]) {
  display: none !important;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-title {
  margin-right: 35px !important;
}

.space-menu-2 {
  margin-left: -35px !important;
}

.border-bg {
  border-color: var(--bg-surface-border) !important;
}

/* Bootstrap Fix */
:root {
  --bs-green: #45b83b;
  --bs-success: #45b83b;
  --bs-success-rgb: 69, 184, 59;
}

.table-td-hover {
  td:hover {
    background-color: var(--bs-table-hover-bg);
  }
}

.table {
  td,
  th {
    color: var(--tc-surface-normal);
  }
}

.input-group-text {
  color: var(--ic-surface-low);
  background-color: var(--bg-surface);
  border: var(--bs-border-width) solid var(--bg-surface-border);
}

.list-group-item {
  border: var(--bs-list-group-border-width) solid var(--bg-surface-border);
}

.table {
  --bs-table-bg: transparent;
}

.very-small {
  font-size: 11.2px;
}

.very-small.badge {
  padding: 3.4px;
}

.form-control-bg:not(.form-control-color) {
  font-size: 9pt;
  padding: 12px;
}

.input-group-phone {
  align-items: flex-start;
  justify-content: flex-start;
  .form-phone-code {
    height: 44px !important;
    margin-top: 8px;
    margin-bottom: 4px;
    width: 80px;
    padding: 0px;
    border: 0px solid transparent;
    > .form-select {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  [type='tel'] {
    width: auto;
  }
}

.form-control-bg[type='file'] {
  padding-left: 25px;
}

.text-bg {
  color: var(--tc-surface-normal);
}

.text-bg-low {
  color: var(--tc-surface-low);
}

.text-bg-high {
  color: var(--tc-surface-high);
}

.text-bg-force {
  color: var(--tc-surface-normal) !important;
}

.text-bg-low-force {
  color: var(--tc-surface-low) !important;
}

.text-bg-high-force {
  color: var(--tc-surface-high) !important;
}

.modal {
  --bs-modal-bg: var(--bg-surface);
  --bs-modal-header-border-color: var(--bg-surface-border);
  --bs-modal-footer-border-color: var(--bg-surface-border);

  .modal-body {
    background: var(--bg-surface);
    background: var(--bg-surface-gradient);
  }
}

.btn-close {
  color: var(--tc-surface-normal);
  filter: var(--invert-filter);
}

.form-control-bg:focus {
  outline: none;
  box-shadow: var(--bs-primary-border);
}

.form-control-bg,
.form-control-bg:focus,
.form-control-bg:active {
  color: var(--tc-surface-normal);
  border: 1px solid var(--bg-surface-border);
}

.form-control-bg::placeholder {
  color: var(--tc-surface-low) !important;
}

.form-control-bg,
.form-control-bg:focus,
.form-control-bg:active,
.form-control-bg:disabled {
  background-color: var(--bg-input);
}

.text-freedom {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
}

.text-limit-space {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-size-box {
  overflow-y: auto;
}

.bg-bg2 {
  background-color: var(--bg-surface-low-semi-transparent) !important;
}

.bg-bg3 {
  background-color: var(--bg-surface-semi-transparent) !important;
}

.text-gray {
  color: var(--tc-surface-low);
}

.text-medium {
  font-weight: var(--fw-medium);
}

.card {
  --bs-card-bg: var(--bg-surface-semi-transparent);
  --bs-card-color: var(--tc-surface-normal);
  color: var(--tc-surface-normal);
}

.list-group {
  --bs-list-group-bg: var(--bg-surface-semi-transparent);
  --bs-list-group-color: var(--tc-surface-normal);
}

/* HTML Base */
html,
body {
  height: 100%;
}

html,
body,
#root,
.client-container,
.client-container > div {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

body {
  color: var(--tc-surface-normal);
  font-size: 16px;
  font-weight: var(--fw-normal);
  font-family: var(--font-secondary);

  /*Why font-variant-ligatures => https://github.com/rsms/inter/issues/222 */
  font-variant-ligatures: no-contextual;
}

body:not(.electron-mode) {
  background-color: var(--bg-surface-low) !important;
}

body.electron-mode {
  background-color: transparent !important;

  #root {
    background-color: var(--bg-surface-low) !important;
  }
}

.font-primary {
  font-family: var(--font-primary);
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Link */
a {
  color: var(--tc-link) !important;
  text-decoration: none !important;
  &:hover {
    text-decoration: underline !important;
  }
}

/* Notifications */
.notification-badge {
  font-size: 10px;

  background-color: var(--bg-badge);
  color: var(--tc-badge);
}

.notification-badge.sidebar-mode.empty-badge > i {
  font-size: 9px;
}

.notification-badge.sidebar-mode {
  margin-top: 8px;
  padding: 3px 5px;
  margin-left: -4px;
  transition: margin-left 250ms ease-in-out;
}

.sidebar-avatar:hover .notification-badge.sidebar-mode {
  margin-left: -1px;
}

.sidebar-avatar:hover .notification-badge.sidebar-mode.empty-badge {
  margin-left: 1px;
}

.notification-badge.sidebar-mode.empty-badge {
  padding: 0px;
  margin-top: 2px;
  margin-left: -1px;
}

/* Room Sub Category */
.room-sub-category-content.category-hide {
  display: none;
}

.navigation {
  width: 100%;
  height: 100%;
  background-color: var(--bg-surface-low);

  display: flex;
}

/* BTN */
.btn {
  &.btn-primary,
  &.btn-primary,
  &.btn-secondary,
  &.btn-success,
  &.btn-danger,
  &.btn-dark,
  &.btn-primary i::before,
  &.btn-primary i::before,
  &.btn-secondary i::before,
  &.btn-success i::before,
  &.btn-danger i::before,
  &.btn-dark i::before {
    color: var(--btn-normal);
  }

  &.btn-warning,
  &.btn-info,
  &.btn-light,
  &.btn-warning i::before,
  &.btn-info i::before,
  &.btn-light i::before {
    color: var(--btn-dark);
  }
}

/* Fix Emoji Size */
.emoji-size-fix [itemprop='image'].emoji,
.message-body.emoji-size-fix [data-mx-emoticon] {
  max-height: 20px !important;
}

.emoji-size-fix-2 [itemprop='image'].emoji,
.message-body.emoji-size-fix-2 [data-mx-emoticon] {
  max-height: 15px !important;
}

.btn > span.ic-base {
  position: relative;
  top: 4px;
  right: 4px;
  margin-right: 0px !important;
}

/* Modal */
@media (max-width: 768px) {
  .modal-popup {
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
  }

  .modal-popup .modal-content {
    border-radius: 0px;
    border: 0px;
  }
}

.modal-backdrop.modal-fullscreen {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  opacity: 0 !important;
  display: none !important;
}

.modal-dialog.modal-fullscreen {
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  -webkit-transition: opacity 0.7s linear !important;
  -o-transition: opacity 0.7s linear !important;
  transition: opacity 0.7s linear !important;
}

.modal-dialog.modal-fullscreen .modal-content {
  border-radius: 0px;
  border: 0px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.discover-spaces {
  @media (min-width: 1400px) {
    --bs-modal-width: 1350px;
  }

  /* Discover Banner */
  .discover-banner {
    color: #fff;
    height: 500px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    align-items: center;
  }

  .discover-banner > center {
    position: absolute;
    width: 575px;
    z-index: 1;
  }

  .discover-banner {
    > [itemprop='image'],
    > .img-container {
      filter: brightness(65%) blur(3px);
      -webkit-filter: brightness(65%) blur(3px);
      -moz-filter: brightness(65%) blur(3px);
      -o-filter: brightness(65%) blur(3px);
      -ms-filter: brightness(65%) blur(3px);
      pointer-events: none;
    }
  }

  @media (max-width: 768px) {
    .discover-banner > center {
      position: absolute;
      width: 375px;
    }

    .discover-banner {
      background-size: 200%;
    }
  }

  @media (max-width: 576px) {
    .discover-banner > center {
      position: absolute;
      width: 320px;
    }
  }
}

@import './user-profile/profile.scss';
@import './user-profile/banner.scss';

@import './room/banner.scss';
@import './room/welcome.scss';
@import './room/space.scss';
/* Tooltip */

.tooltip {
  position: fixed !important;
  .tooltip-inner,
  .tooltip-inner * {
    color: #fff;
  }

  .react-emoji {
    height: 30px !important;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@import './messages/textarea.scss';
@import './messages/embed.scss';
@import './page/settings.scss';

#change-custom-status-img {
  max-height: 30px;
  height: 30px;
  &:hover {
    cursor: pointer;
    filter: brightness(0.7) opacity(0.7) grayscale(0.5);
  }
}

#change-custom-status-img.disabled {
  filter: opacity(0.7) grayscale(1) !important;
  cursor: not-allowed !important;
}

body:not(.shiftKey) {
  .need-shift {
    display: none !important;
  }
}

body:not(.ctrlKey) {
  .need-ctrl {
    display: none !important;
  }
}

.app-welcome__logo {
  height: 200px;
}
