@use './partials/text';

.file-header {
  display: flex;
  align-items: center;
  padding: var(--sp-ultra-tight) var(--sp-tight);
  min-height: 42px;

  .file-name {
    @extend .cp-txt__ellipsis;
    flex: 1;
    color: var(--tc-surface-low);
  }

  a {
    line-height: 0;
  }
}

.file-container {
  --media-max-width: 296px;

  background-color: var(--bg-surface-hover);
  border-radius: calc(var(--bo-radius) / 2);
  overflow: hidden;
  max-width: var(--media-max-width);
  white-space: initial;
}

.file-container.file-open {
  max-width: 800px;
  .video-base {
    max-width: 800px;
  }
}

.sticker-container {
  display: inline-flex;
  max-width: 170px;
  width: 100%;
  [itemprop='image'],
  .img-container {
    width: 100% !important;
  }
}

.image-container,
.video-container,
.audio-container {
  font-size: 0;
  line-height: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container,
.video-container {
  [itemprop='image'],
  .image-container-canvas,
  .img-container {
    max-width: unset !important;
    width: 100% !important;
    height: 100%;
    border-radius: 0 !important;
    margin: 0 !important;
  }
}
.image-container {
  max-height: 460px;
  [itemprop='image'],
  .img-container {
    cursor: pointer;
    object-fit: cover;
  }
}

.video-container {
  position: relative;
  .ic-btn-surface {
    background-color: var(--bg-surface-low);
  }
  .ic-btn-surface,
  .donut-spinner {
    position: absolute;
  }
  video {
    width: 100%;
  }
  button {
    position: relative;
    left: 185px;
    margin-left: -68px;

    i,
    i:before,
    i:after {
      font-size: 31pt;
    }
  }
}
.audio-container {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  audio {
    width: 100%;
  }
}

.pswp {
  z-index: 1050;
}

.pswp__icn.fa-solid {
  color: var(--pswp-icon-color);
}

.pswp__icn {
  height: 32px !important;
  width: 32px !important;
  color: var(--pswp-icon-color);
  text-shadow:
    -1px 0 #665b56,
    0 1px #665b56,
    1px 0 #665b56,
    0 -1px #665b56;
}

.pswp__icn.fa-solid {
  height: 23px !important;
  width: 23px !important;
  padding: 1px;
  top: 20px;
  left: 17px;
  font-size: 20px !important;
}
